<div class="grid p-fluid justify-content-center">
    <div class="col-12 md:col-6">
      <div class="card">
        <h2 class="text-center">{{ "MoCommon.ResetPassword" | translate }}</h2>
        <h3 class="text-center text-muted">
          {{ "MoCommon.EnterNewPassword" | translate }}
        </h3> 
        <form [formGroup]="resetpasswordform" (ngSubmit)="SubmitResetPassword()">
          <div class="form-control px-3 py-5 m-auto w-75 mainborderdiv1">
            <!-- Password Field -->
            <div class="field p-2">
              <span class="p-float-label p-input-icon-left">
                <i class="pi pi-lock"></i>
                <input id="password" type="password" pInputText formControlName="password" class="form-control" />
                <label for="password">{{ "MoCommon.NewPassword" | translate }}</label>
              </span>
            </div>
  
            <!-- Confirm Password Field -->
            <div class="field p-2">
              <span class="p-float-label p-input-icon-left">
                <i class="pi pi-lock"></i>
                <input id="password_confirmation" type="password" pInputText formControlName="password_confirmation" class="form-control" />
                <label for="password_confirmation">{{ "MoCommon.ConfirmPassword" | translate }}</label>
              </span>
            </div>
  
            <!-- Reset Password Button -->
            <div class="text-center">
              <button type="submit" pButton [label]="'MoCommon.ResetPassword' | translate"
                class="p-button-rounded p-button-primary maincolor1-background-color"></button>
            </div>
  
            <!-- Links -->
            <div class="text-center mt-4">
              <a routerLink="/login" class="text-primary maincolor1-color">{{
                "MoCommon.BackToLogin" | translate
                }}</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  