<div class="grid p-fluid justify-content-center">
  <div class="col-12 md:col-6">
    <div class="card">
      <h2 class="text-center">{{ "MoCommon.ForgetPassword" | translate }}</h2>
      <h3 class="text-center text-muted">
        {{ "MoCommon.EnterEmail" | translate }}
      </h3>
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="SendResetLink()">
        <div class="form-control px-3 py-5 m-auto w-75 mainborderdiv1">
          <!-- Email Field -->
          <div class="field p-2">
            <span class="p-float-label p-input-icon-left">
              <i class="pi pi-envelope"></i>
              <input id="email" type="email" pInputText formControlName="email" class="form-control" />
              <label for="email">{{
                "MoCommon.EmailAddress" | translate
                }}</label>
            </span>
          </div>

          <!-- Send Reset Link Button -->
          <div class="text-center">
            <button type="submit" pButton [label]="'MoCommon.ResetMail' | translate"
              class="p-button-rounded p-button-primary maincolor1-background-color"></button>
          </div>

          <!-- Links -->
          <div class="text-center mt-4">
            <a routerLink="/login" class="text-primary maincolor1-color">{{
              "MoCommon.BackToLogin" | translate
              }}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>